.contenedor_padre{
  align-self: center;
  margin: 8vw;
  margin-top: 0px;
}
.superior_derecha{
  text-align: right;
  font-size: 10px;
}
.nombre_titulo_doctor{
  text-align: left;
  font-size: 22px;
  font-style: bold;
  padding-bottom: 3px;
  margin-bottom: 6px;
  border-bottom: solid thin;
}
.datos_personales{
  margin-top: 12px;
  font-size: 12px;
  border-collapse: collapse;
  table-layout: auto;
}
.datos_foto img{
  aspect-ratio: 3/4;
  height: 25vw;
  border-radius: 35%;
  margin-right: 8px;
  box-shadow: 0px 0px 18px #01020280;
}
.centro_centro{
  vertical-align: middle;
  align-items: center;
}
.cuerpo_texto{
  font-size: 12px;
  align-self: center;
  padding: 16px;
  width: auto;
  text-align: justify;
}
.cuerpo_texto b{
  font-size: 14px;
}
.cuerpo_texto a{
  font-size: 12px;
  color: goldenrod;
  background-color: #eeeeee;
}
.fotos_de_muestra{
  align-content:space-between;
}
.fotos_de_muestra img,
.card-img-top,
.img-general-th{
  margin-top: 10px;
  margin: 8px;
  aspect-ratio: 3/4;
  object-fit: cover;
  width: 30%;
  border-radius: 35%;
  box-shadow: 0px 0px 20px #00ffff80;
  align-self: center;
}
.fotos_de_muestra span{
  text-align: left;
  align-self: center;
  font-size: 10px;
}
